{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card text-center shadow-sm border">
        <div class="card-body">
            <h3 class="card-title">PDF Analyzer Expert</h3>
            <p class="card-text">
                Upload your resume and get expert analysis on areas of improvement.
            </p>
            <a href="http://resumeanalyser-zrncmw3djin5dqqslxseks.streamlit.app" target="_blank" class="btn btn-primary">
                Open PDF Analyzer
            </a>
        </div>
    </div>
</div>
{% endblock %}
